.witnessContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.witness__Profile {
    background-color: lightgray;
    border: 1px solid midnightblue;
    font-family: 'Share Tech Mono', monospace;
    margin: 2.5px;
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    width: 20%;
}

.header--witnessProfile {
    color: midnightblue;
}

.invisible {
    display: none
}